{% extends "edc_dashboard/listboard.html" %}
{% load admin_urls %}
{% load edc_base_extras %}
{% load pharma_dashboard_extras %}

             
{% block listboard_panel %}
     <!-- <a id="return_to_home" title="go back" class="btn btn-sm btn-default" role="button" 
        href="/">
            <i class="fa fa-arrow-left fa-sm"></i> Go Back
    </a> -->
{% endblock listboard_panel %}


{% block listboard_table_header %}
    <!-- begin results header -->
    <th>#</th>
    <th></th>
    <th>Subject Identifier</th>
    <th>Initials</th>
    <th>Gender</th>
    <th>Age</th>
    <th>Prescription</th>
    <th>Prepared Date</th>
    <th>Refill On</th>
    
    <th></th>
    <!-- end results header -->
{% endblock listboard_table_header %}


{% block listboard_table_button_column %}
  <div class="btn-group">
    <td style="white-space: nowrap">
	    <a id="dispense_change_{{ subject_identifier }}" title="{{ title }}" role="button"
		 href="{{ result.href }}"
		 class="btn btn-success btn-sm" role="button">
		 Refill
		</a>
    </td>
  </div>
    
{% endblock listboard_table_button_column %}


{% block listboard_table_columns %}
	<td>{{ result.object.subject_identifier }}</td>
    <td nowrap>{{ result.patient.initials }}</td>
    <td nowrap>{{ result.patient.gender }}</td>
    <td nowrap>{{ result.patient.age }}</td>
    <td nowrap>{{ result.object.medication }}</td>
	<td nowrap>{{ result.object.prepared_datetime|date:"Y-m-d H:i"}}</td>
	<td nowrap>{{ result.object.refill_date|date:"D, d M Y" }}</td>
    <td nowrap>{{ result.latest_refill }}</td>
    <td nowrap></td>
    <td nowrap><a href="#" class="btn btn-sm btn-default">Print</a></td> 

{% endblock listboard_table_columns %}