{% extends "edc_dashboard/listboard.html" %}
{% load admin_urls %}
{% load edc_base_extras %}
{% load pharma_dashboard_extras %}

             
{% block listboard_panel %}
   {% if subject_identifier %}
      <a id="dispense_add_{{subject_identifier" title="dispense" class="btn btn-sm btn-default" role="button" 
         href="{{ dispense_url }}?next=pharma_dashboard:dispense_listboard_url,subject_identifier&subject_identifier={{subject_identifier}} "> 
         <i class="fa fa-plus fa-sm"></i> Dispense
      </a>
    {% endif %}
    <a id="return_to_home" title="go back" class="btn btn-sm btn-default" role="button" 
        href="{% url patient_listboard_url %}"> <i class="fa fa-arrow-left fa-sm"></i> Go Back
    </a>
{% endblock listboard_panel %}


{% block listboard_table_header %}
    <!-- begin results header -->
    <th>#</th>
    <th></th>
    <th>Subject Identifier</th>
    <th>Initials</th>
    <th>Gender</th>
    <th>Prescription</th>
    <th>Type</th>
    <th>Prepared Date</th>
    <th>Refill On</th>
    
    <th></th>
    <!-- end results header -->
{% endblock listboard_table_header %}


{% block listboard_table_button_column %}

 <td style="white-space: nowrap">
    <div class="btn-group">
       <a id="dispense_change_{{ subject_identifier }}" title="{{ title }}" role="button" 
         class="btn btn-default btn-sm" href="{{ result.href }}"> <i class="fa fa-pencil-alt fa-sm"></i>
	   </a>
	
	    <a id="dispense_refill_{{ subject_identifier }}" title="{{ title }}" role="button"
		 href="{{ result.href }}"
		 class="btn btn-success btn-sm" role="button">
		 Refill
		</a>
     </div>
 </td>
 
{% endblock listboard_table_button_column %}


{% block listboard_table_columns %}
	<td>{{ result.object.subject_identifier }}</td>
    <td nowrap>{{ result.patient.initials }}</td>
    <td nowrap>{{ result.patient.gender }}</td>
    <td nowrap>{{ result.object.medication }}</td>
    <td nowrap>{{ result.object.dispense_type }}</td>
	<td nowrap>{{ result.object.prepared_datetime|date:"Y-m-d H:i"}}</td>
	<td nowrap>{{ result.latest_refill|date:"Y-m-d H:i"}}</td>
    <td nowrap></td>
    <td><a href="{% url 'pharma_dashboard:print_url' subject_identifier=result.object.subject_identifier dispense_pk=result.object.pk %}" class="btn btn-sm btn-default">Print</a></td>                    

{% endblock listboard_table_columns %}